* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    /* height: 00px; */
    background: #fffcfc;
    font-family: sans-serif;
    position: relative;
    
}
/* navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 1.8rem;
    background: rgba(110, 106, 106, 0.925);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 3rem;
    color: #333;
    text-transform: uppercase;
}

.navbar-items {
    font-size: 1.6rem;
    list-style: none;
    display: flex;
}

.navbar-items .navbar-item {
    margin: 0 1rem;
    text-transform: uppercase;
}

.navbar-items .navbar-item a  {
    text-decoration: none;
    color: #181616;
}

.navbar-items .navbar-item a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}

/* Header */

.header {
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: #333;
    font-size: 4rem;
    margin-bottom: 6rem;
    word-spacing: 6px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header button {
    border: 2px solid #fff;
    color: #333;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1.4rem 3.5rem;
    border-radius: .6rem;
    background-color: transparent;
    transition: all 0.3s ease-in;
}

.header button:focus,
.header button:hover {
    outline: none;
    background-color: grey;
    color: #fff;

}
/* my work */
 .my-work {
     width: 100%;
     height: 60vh;
     background: teal;
     padding: 3rem 5rem;
     display: flex;
     align-items: center;
     justify-content: center;
     /* flex-wrap: wrap; */
 }

 .project {
     /* width: 33.33333%; */
     margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .project:hover img {
     transform: scale(1.1);
 } 

 .project img {
     width: 100%;
     transition: all 0.5s ease-in-out;
 }


 /* contact */

 .contact-me {
     height: 600px;
 }



 /* footer  */
.footer {
    width: 100%;
    height: 30vh;
    background: url(/img/nasa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    color: #fff;
    padding: 5rem 1.5rem;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem;
}

.copyrights {
    font-size: 2rem;
}

.copyrights span:hover {
    color: #3a52bf;
}

.social__icons a{
    color: #fff;
    margin-left: 1.5rem;
    font-size: 3rem;
    transition: all .3s ease-out;
}


.social__icons a:hover {
    color: #3a52bf;
    transform: scale(1.08);
}
